/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 *
 * Edited by Eirik Rolland Enger, https://eirikenger.xyz
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #222;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Changes to site styles ----------------------
body {
    font-family: $mainFont;
    background-color: $backgroundColor;
    color: white;
    font-size: 28px;
}
a:link {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #ff99aa;
    background-color: transparent;
    text-decoration: none;
}
table {
    border-collapse: collapse;
    width: 80%;
    position: relative;
}
table.center {
    margin-left:auto; 
    margin-right:auto;
}
tr {
    border-bottom: 1px solid #ccc;
}
th {
    text-align: left;    
}
